body{
	margin: 0;
	padding: 0;
	overflow: ;
    text-align: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.main
{
    height: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

header
{
    background: #e31521;
    color: white;
    min-width: 30px;
    float: left;
    text-align: center;
    align-items: center;
}

header img
{
    height: 50px;
    margin: auto;
}

.navbar{
    text-decoration: none;
    align-items: ;
    display: contents;
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif;
    line-height: 1.5;
    color: #fff;
    list-style: none;
}

.navbar li{
    margin-top: 70px;
    text-decoration: none;
    transform: rotate(-90deg);
}

.navbar li a{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
}

.navbar li a:hover{
    color: black;
    transition: all 0.5s ease-in;
}

header .current a
{
    color: black;
    font-weight: bold;
}

.social
{
    align-items: center;
    margin-top: 267px;
}

.social img
{
    height: 30px;
}

section
{
    color: white;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    min-height: 100%;
}


@media screen and (max-width:821px)
{
    header
    {
        height: 100%;
    }
    .social
    {
        margin-top: 300px;
    }
    #container
    {
        width: 50%;
    }
    .caption
    {
        width: 100%;
    }
    .caption h1
    {
        line-height: 60px;
    }
    .caption p
    {
        margin-bottom: -20px;
    }
    .self
    {
        width: 60%;
        margin-bottom: -30px;
    }
    #buttons
    {
        width: 100%;
    }
    .btn
    {
        width: 150px;
        height: 40px;
    }
}

/*About container*/
section
{
    width: 95%;
    float: right;
    height: 100%;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-align: center;
    background-color: ;
    line-height: 10px;
}

#heading
{
    width: 100%;
    line-height: 10px;
}

#heading h2
{
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 50px;
}

#heading h3
{
    font-size: 20px;
    font-weight: lighter;
}

.sub
{
    color: #616161;
}

#heading .me
{
    color: #e31521;
}

.myself
{
    width: 98.5%;
    height: 250px;
    margin-left: 20px;
    margin-top: 50px;
    overflow: hidden;
    /*background: #e31521;*/
    color: white;
    align-items: center;
}

.myself img
{
    height: 250px;
    float: left;
    margin-right: 50px;
}

.myself p
{
    line-height: 25px;
    text-align: justify;
    width: 95%;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.friends
{
    font-style: italic;
}

.dot1
{
    color: red;
}
.dot2
{
    color: yellow;
}
.dot3
{
    color: deepskyblue;
}
.dot4
{
    color: red;
}
.dot5
{
    color: yellow;
}
.dot6
{
    color: deepskyblue;
}

#skills
{
    text-align: left;
    width: 93%;
    margin: 10px;;
    padding: 0;
    margin-top: 50px;
    border-bottom: 2px solid #616161;
}

#skill h2
{
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 1px;
}

/*device responsiveness*/
@media(max-width: 640px)
{
    header
    {
        margin-top: -130px;
        margin-right: 10px;
    }
    #container
    {
        float: none;
        width: 100%;
    }
    .caption h1
    {
        width: 100%;
        font-size: 50px;
    }
    .caption h4
    {
        width: 100%;
        font-size: 20px;
    }
    .caption p
    {
        width: 100%;
        font-size: 15px;
    }
    .self p
    {
        width: 100%;
        font-size: 18px;
    }
}