*
{
    margin: 0;
    padding: 0;
    background: #ffea96;
}

#left-eye
{
    height: 200px;
    width: 200px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    overflow: hidden;
    border-color: #333;
}

#left-ball
{
    height: 30px;
    width: 30px;
    background: #000000;
    border-radius: 50%;
    border: 30px solid #663300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close
{
    height: 150px;
    width: 360px;
    position: absolute;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 999;
}

#close span
{
    display: block;
    width: 100%;
    height: 15%;
    background: #fff0b4;
    border-radius: 0 0 60% 60%;
    transition: 0.6s all;
}

#left-eye:hover > #close span
{
    height: 100%;
}
