body{
	margin: 0;
	padding: 0;
    background-image: url("../img/body.jpg");
    height: auto;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


navbar-danger .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

.navbar-danger .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar img
{
    height: 50px;
    margin: auto;
}

.navbar{
    text-decoration: none;
    align-items: ;
    display: contents;
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif;
    line-height: 1.5;
    color: #fff;
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
}

.navbar li a:hover{
    color: black;
    transition: all 0.5s ease-in;
}

section
{
    color: white;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.caption h4
{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
}

.caption h1
{
    font-size: 70px;
}

.sub p
{
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #616161;
    float: inherit;
}

.caption
{
    line-height: 6px;
}

.self
{
    color: white;
    text-align: left;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 20px;
}

.btn
{
    width: 200px;
    height: 50px;
    float: inherit;
    border: none;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 19px;
    margin-bottom: 10px;
}

.portfolio
{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.portfolio:hover
{
    transition: all 0.5s ease-in;
    background-color: #fff;
    color: black;
}

.contact
{
    background-color: #e31521;
    border: 2px solid #e31521;
    color: #fff;
    cursor: pointer;
}